<h1>SILLY COACHING</h1>
<p>Hello, I am your coach, what did you want to tell me?</p>

<form action="/answer" method="get">
  <input type="text" name="question" placeholder="Key in your answer">
  <input type="submit">
</form>